{% extends 'base.html' %}

{% block content %}
<section class="Lc">
    <h1 class="learn">The digital realm has digital economics which leads to digital labor.</h1>
    <p>This is just a short summary, 
        more info coming soon.
        Down below is a image/nft(non-fungible-token) that was created by black mirror one of the top 
        netflix shows. ⬇️
    </p>
    <img class="BMirror" src="../../static/images/JPEG image 36.jpeg" alt="">
    <p>A nft is just another name for digital ownership, with digital ownership you can 
        do more than just art.
    </p>
</section>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}
